<!DOCTYPE html>
<head>
{% include 'partials/head-default.njk' %}
{% include 'partials/meta-tags-default.njk' %}
</head>
<body>
  <main class="container">
    <header class="theme">
      {% include 'partials/logo.njk' %}
      {% include 'partials/nav.njk' %}
    </header>    
      {{ content | safe }}
    <footer class="wide theme">
      {% include 'partials/footer.njk' %}
    </footer>
  </main>
  {% include 'partials/global-js.njk' %}
</body>
</html>