<!DOCTYPE html>

<head>
  {% include 'partials/head-default.njk' %}
  {% include 'partials/meta-tags-default.njk' %}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body class="home">
  <main class="container">
    <header class="banner">
      {% include 'partials/logo.njk' %}

    </header>
    <section class="content">
      <p class="hashtag title-text">#ProtectNHSWorkers</p>

      <article class="letter">
        <p>Dear Colleague,</p>

          <p>The tool is down for maintenance. Please check back later to sign up.</p>

          <p>All best wishes,</p>
          <p>
            <strong>Dr Julia Patterson,</strong><br/>
            EveryDoctor lead
          </p>
        </div>


</body>

</html>