<!DOCTYPE html>

<head>
  {% include 'partials/head-default.njk' %}
  {% include 'partials/meta-tags-default.njk' %}
</head>

<body class="home">
  <main class="container">
    <header class="banner">
      {% include 'partials/logo.njk' %}

    </header>
    <section class="content">
      <p class="hashtag title-text">#ProtectNHSWorkers</p>

      <article class="letter">
        <p>Dear Colleague,</p>

        <div class="loading hidden" aria-hidden="true">
          <div class="sk-fading-circle" role="presentation">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
          </div>Loading</div>

        <section id="database-error" class="messages hidden" aria-hidden="true">
          <h1>There was an error connecting to the database</h1>
          <p>Please tap the button below to try again.</p>
          <p>If this problem persists, please leave this page as it is, contact our developer on 07719 443470, and you will be able to submit the details you've entered once we've fixed it.</p>
          <button>Go back and try again</button>
        </section>

        <section id="human-error" class="messages hidden" aria-hidden="true">
          <h1>Unable to submit the form</h1>
          <p>Please check the below and try again:</p>
          <ul id="error-list"></ul>
        </section>

        <section id="verify-number-form-wrapper" class="hidden" aria-hidden="true">
          <div id="got-pending" class="messages hidden" aria-hidden="true">
            <h1>That code wasn't recognised.
            </h1>
            <p>Please double-check and try again.</p>
            <p>If you need to correct your number, please:
              <button class="smaller inline go-back">Go back and try again</button>
            </p>
          </div>

          <h1>We just sent a code to
            <span class="mobile-number"></span></h1>

          <form name="verify-number-form" id="verify-number-form" action="/.netlify/functions/verify-number">

            <label for="verification">
              Please enter the code to verify your number.
            </label>
            <input type="tel" name="verification" id="verification"/>
            <input type="hidden" name="mobile" id="hidden-mobile"/>
            <button class="smaller">Verify</button>
          </form>
          <p>If that isn't your number:
            <button class="smaller inline go-back">Go back and try again</button>
          </p>

        </section>

        <div class="submission-success hidden" aria-hidden="true">
          <div id="double-submit-success" class="hidden" aria-hidden="true">
            <p>It looks like you are already participating; your mobile number is already in our database.</p>
            <p>If this wasn't you,
              <a href="mailto:ask@everydoctor.org.uk">please contact us</a>
              and we will correct it.</p>
          </div>
          <p>Thank you so much for signing up to the join this critical effort.</p>

          <p>It's important that you ask colleagues to join this effort. The more doctors who participate regularly the more accurate the picture we'll build.</p>

          {% include 'partials/sharer.njk' %}
          <p>We will text you soon. Please text back!</p>

          <div id="signup-form-wrapper">
            <p>Finally, if you'd like to stay in touch with how we're using this information to win critical changes please join our mailing list.
            </p>
            <p aria-hidden="true" class="hidden" id="signup-success">Thank you so much for signing up.</p>
            <p aria-hidden="true" class="hidden" id="duplicate-email">It looks like your email is already in the database.</p>
            <form name="signup-form" id="signup-form" action="/.netlify/functions/handle-signup" novalidate="novalidate">
              <section class="questions">

                <label for="first-name">Your first name</label>
                <input type="text" name="first-name" id="first-name">
                <label for="surname">Your surname</label>
                <input type="text" name="surname" id="surname">

                <label for="email">Your email</label>
                <input type="email" name="email" id="email">
                <button class="smaller">Signup</button>
              </section>

            </form>
          </div>

          <p>All best wishes,</p>
          <p>
            <strong>Dr Julia Patterson,</strong><br/>
            EveryDoctor lead
          </p>
        </div>

        <div class="form-wrapper" id="onboarding-form-wrapper" aria-hidden="false">
          <p>We're collecting real-time data from medics so that we can advocate for the safety of all NHS staff and our patients.</p>

          <p>Will you commit to regularly answering our questions?</p>

          <p>If so, please provide your mobile number so we can text you regularly, and your GMC number so we know you're a doctor.</p>
          <form name="onboarding-form" id="onboarding-form" action="/.netlify/functions/handle-onboarding" novalidate="novalidate">
            <section class="questions" id="mobile-number">
              <aside class="privacy">
                {% include 'partials/privacy-lock.njk' %}
                All of your personal information will be stored securely, and will never be made public.</aside>
              <fieldset>
                <legend>
                  Mobile number
                </legend>
                <div class="aligned-flex">
                  <div class="flex-item">
                    <label for="area-code" class="screen-reader-text">Area code</label>
                    <div class="styled-select mobile">
                      <select id="area-code" name="area-code" data-parent="mobile-number">
                        <option value="+44" selected="selected">+44</option>

                        {% for country in countrycodes | orderAscending %}
                          <option value="{{country.dial_code}}">{{country.dial_code}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="flex-item mobile-input-wrapper">
                    <label for="mobile" class="screen-reader-text">Mobile number</label>
                    <input name="mobile" id="mobile" type="tel" data-parent="mobile-number">
                  </div>
                </div>
              </fieldset>
              <div id="gmc-number-container">
                <label for="gmc-number">GMC number</label>
                <input name="gmc-number" id="gmc-number" type="tel" data-parent="gmc-number-container">
              </div>
            </section>

            <p>Thank you.</p>

            <p>We are currently campaigning for the UK government to bring its PPE guidance in line with WHO recommendations.</p>
            <p>Before answering the following three questions you must have read and understood our thirty second summary of World Health Organisation standards for PPE.
            </p>

            <p>It is critical that you understand the guidance and answer the questions accordingly.</p>

            <p>
              <a class="reading-link" href="" target="_blank">Please read the summary now.</a>
            </p>

            <div id="guidance-read-wrapper">
              <input type="checkbox" name="guidance-read" id="guidance-read" data-parent="guidance-read-wrapper"/>
              <label class="link" for="guidance-read">I have read and understood the guidance.</label>
            </div>

            <section class="questions">
              <div class="question" id="question-one">
                <img alt="1" src="/img/one.svg"/>
                <fieldset class="radios">
                  <legend>
                    At any point today did you perform an AGP procedure, or were you in a clinical area with possible or confirmed cases of COVID-19 where AGP procedures are regularly performed?
                  </legend>
                  <div id="answer-one" data-parent="question-one">
                    <input id="question-1-yes" type="radio" value="yes" name="answer-one"/>
                    <label for="question-1-yes">Yes</label>
                    <input id="question-1-no" type="radio" value="no" name="answer-one"/>
                    <label for="question-1-no" class="negative">No</label>
                  </div>
                </fieldset>
              </div>
              <div class="question" id="question-two">
                <img alt="2" src="/img/two.svg"/>
                <fieldset class="radios">
                  <legend>
                    Did you have access to each element of appropriate PPE?
                  </legend>
                  <div id="answer-two" data-parent="question-two">
                    <input id="question-2-yes" type="radio" value="yes" name="answer-two"/>
                    <label for="question-2-yes">Yes</label>
                    <input id="question-2-no" type="radio" value="no" name="answer-two"/>
                    <label for="question-2-no" class="negative">No</label>
                  </div>
                </fieldset>
              </div>
              <div class="question" id="question-three">
                <img alt="3" src="/img/three.svg"/>
                <fieldset class="radios">
                  <legend>
                    Do you have access to COVID-19 testing if you require it?
                  </legend>
                  <div id="answer-three" data-parent="question-three">
                    <input id="question-3-yes" type="radio" value="yes" name="answer-three"/>
                    <label for="question-3-yes">Yes</label>
                    <input id="question-3-no" type="radio" value="no" name="answer-three"/>
                    <label for="question-3-no" class="negative">No</label>
                  </div>
                </fieldset>
              </div>

            </section>

            <p>We need to know where you work and what you do, so we can pinpoint problems across the NHS.</p>

            <section class="questions" id="medical-details">
              <label for="hospital">Your local NHS Trust or CCG</label>
              <input type="text" id="hospital" name="hospital" data-parent="medical-details"/>
              <div id="care-container">
                <label for="care">You mostly work in</label>
                <div class="styled-select">
                  <select id="care" name="care" data-parent="care-container">
                    <option value="" selected="selected">Please select</option>
                    {% for care in cares %}
                      <option value="{{care}}">{{care}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div id="grade-container">
                <label for="grade">Your grade</label>
                <div class="styled-select">
                  <select id="grade" name="grade" data-parent="grade-container">
                    <option value="" selected="selected">Please select</option>
                    {% for grade in grades %}
                      <option value="{{grade}}">{{grade}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div id="specialty-container">
                <label for="specialty">Your specialty</label>
                <input type="text" id="specialty" name="specialty" data-parent="specialty-container"/>
              </div>

            </section>
            <p>By submitting this form, you are consenting to EveryDoctor using your anonymised responses to lobby Government, NHS and raise attention to the issues facing the NHS as identified by doctors like you. You can unsubscribe at any time by texting back STOP.
            </p>
            <p>Thank you so much.</p>
            <button>Submit</button>
          </form>
        </div>
      </article>
    </section>
    <footer class="wide theme">
      {% include 'partials/footer.njk' %}
    </footer>
  </main>
  {% include 'partials/global-js.njk' %}
  <script src="/js/auto-complete.js"></script>
  <script>
    const specialties = [{% for specialty in specialties %}"{{specialty}}",{% endfor %}]
    const hospitals = [{% for hospital in hospitals %}"{{hospital}}",{% endfor %}]
  </script>
  <script src="/js/onboarding-form.js "></script>
</body>

</html>