<div class="content">
  <p class="copyright"><a href="https://app.termly.io/document/privacy-notice/57cbbb3a-3412-494b-aa4c-d7610122baed" target="_blank">Privacy policy</a> | <a href="mailto:ask@everydoctor.org.uk">Having issues signing up?</a> | <a href="https://www.everydoctor.org.uk" target="_blank">EveryDoctor</a> &copy; 2020</p>
</div>