<h1 class="logo">
  <a href="/">
  <img src="/img/every-doctor.svg" alt="EveryDoctor" />
  </a>
</h1>
<a class="more-info" href="https://www.everydoctor.org.uk/about" target="_blank">More about EveryDoctor</a>