<meta name="description" content="{{config.siteSlogan}}"/>
<meta property="og:title" content="{{config.siteTitle}}">
<meta property="og:site_name" content="{{config.siteTitle}}">
<meta property="og:url" content="{{config.siteUrl}}">
<meta property="og:description" content="{{config.siteSlogan}}"/>
<meta property="og:type" content="website">
<meta property="og:image" content="{{config.siteUrl}}/img/landscape-banner.png"/>
<meta property="og:image:width" content="1024"/>
<meta property="og:image:height" content="512"/>
<meta property="og:image:alt" content="Doctors – Sign up now to report on PPE availability in your workplace #ProtectNHSWorkers."/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{config.siteTitle}}"/>
<meta name="twitter:description" content="{{config.siteSlogan}}"/>
<meta name="twitter:url" content="{{config.siteUrl}}"/>
<meta name="twitter:image" content="{{config.siteUrl}}/img/square-banner.png"/>
<meta name="twitter:image:alt" content="#ProtectNHSWorkers. EveryDoctor"/>