<h1 class="logo">
  <a href="/">
  <img alt="{{ config.siteTitle }}" src="/img/every-doctor.svg" />
  </a>
</h1>
<h2>PPE Tracker</h2>
<nav>
  <ul>
    <li>
      <a href="/about/">About</a>
    </li>
  </ul>

</nav>