<article class="sharer share-section" aria-live="polite">
  <button class="ws-semibold smaller" onclick="sharePage()">Share this with your colleagues</button>
  <ul aria-hidden="true">
    <li class="fb">
      <a class="share-link" data-analytics="share-fb" tabindex="-1" target="_blank" href="https://www.facebook.com/sharer.php?u={{config.siteUrl}}&t={{config.siteSlogan}}">Facebook</a>
    </li>
    <li class="tt">
      <a class="share-link" data-analytics="share-tt" tabindex="-1" target="_blank" href="https://twitter.com/share?text=The team at @EveryDoctorUK has launched a useful reporting tool to track critical gaps in %23PPE and %23testing across the %23NHS. It's free to report via text and completely anonymous, which is why I signed up. RT and ask medics you know to join too. %23Covid19&url={{config.siteUrl}}">Twitter</a>
    </li>
    <li class="el">
      <a class="share-link" data-analytics="share-el" tabindex="-1" target="_blank" href="mailto:?subject=Check out this new reporting tool from EveryDoctor&amp;body=The team at EveryDoctor has come up with a new reporting tool to help medics report critical gaps in PPE and testing across the NHS as we tackle the coronavirus outbreak. It’s completely free to report issues by text and your responses are kept anonymous. Reporting like this can save lives by telling us where the urgent problems are. Join me and sign up here: https://ask.everydoctor.org.uk">Email</a>
    </li>
    <li class="wa wa-desktop">
      <a class="share-link" data-analytics="share-wa-d" tabindex="-1" target="_blank" href="https://api.whatsapp.com/send?text=Hey, have you seen this? The team at EveryDoctor has launched a useful reporting tool for medics to find critical gaps in PPE and testing across the NHS. It's free to report issues by text, and your responses are kept completely anonymous — which is why I've signed up. Reporting like this can save lives by telling us where the urgent problems are. Join me and sign up here: https://ask.everydoctor.org.uk">WhatsApp</a>
    </li>
    <li class="wa wa-mobile">
      <a class="share-link" data-analytics="share-wa-m" tabindex="-1" href="whatsapp://send?text=Hey, have you seen this? The team at EveryDoctor has launched a useful reporting tool for medics to find critical gaps in PPE and testing across the NHS. It's free to report issues by text, and your responses are kept completely anonymous — which is why I've signed up. Reporting like this can save lives by telling us where the urgent problems are. Join me and sign up here: https://ask.everydoctor.org.uk" data-action="share/whatsapp/share">WhatsApp</a>
    </li>
  </ul>
</article>