/*style wrapper to give some space*/

.wrapper {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  clear: both;
}

/*style label to give some more space*/

.wrapper label {
  display: block;
  padding: 7px 0 0 53px;
  font-size: var(--text-medium);
}

/*style and hide original checkbox*/

.wrapper input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 200px;
  z-index: 10;
  cursor: pointer;
}

.wrapper.disabled input {
  cursor: default;
}

.wrapper input + label::before {
  border: 2px solid;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
  border-radius: 7px;
}
form input,
form textarea {
  border: 2px solid var(--bg-light-theme);
}

.light form input,
.light form textarea {
  border: 2px solid var(--bg-dark-theme);
  border-right: none;
}

/*radio pseudo element styles*/

.wrapper input + label::after {
  content: "";
  opacity: 0;
  border: 10px solid var(--text-highlight-dark);
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
  transition: opacity 0.2s ease-in-out;
}

.light .wrapper input + label::after {
  border: 10px solid var(--text-highlight-light);
}

/*reveal check for 'on' state*/

.wrapper input:checked + label::after {
  opacity: 1;
}

/*focus styles*/

.wrapper input:focus + label::before {
  box-shadow: 0 0 0 3px #ffbf47;
  outline: 3px solid transparent;
  /* For Windows high contrast mode. */
}

form label,
legend {
  display: block;
  font-size: var(--text-medium);
  margin-bottom: 0.5rem;
  padding: 0;
}

form input,
form textarea {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  margin-bottom: 1rem;
  box-shadow: none;
  border: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  border: 2px solid var(--light-button-bg);
}

form input:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] {
  width: 1.5rem;
  float: left;
  transform: scale(1.4);
  top: 0.4rem;
  position: relative;
  margin: 0 0.25rem 0 0;
}
.inline-form {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.inline-form input {
  border-right: none;
  border-radius: 40px 0px 0px 40px;
  margin-right: 0;
  box-shadow: 0 6px var(--bg-light-theme);
  margin-bottom: 0;
  padding: 0.3rem 1rem;
}

.light .inline-form input {
  box-shadow: 0 6px var(--bg-dark-theme);
}

button.inline-smaller {
  border-radius: 0 40px 40px 0;
  font-size: var(--text-small);
  font-weight: 700;
  padding: 10px 20px;
  text-align: right;
  width: auto;
  margin: 0;
}

button.inline-smaller:hover {
  top: 0;
  box-shadow: 0 6px var(--bg-light-theme);
}

.light button.inline-smaller:hover {
  top: 0;
  box-shadow: 0 6px var(--bg-dark-theme);
}

form textarea {
  padding: 1rem;
  min-height: 15rem;
}

form input,
form button,
form textarea {
  font-size: var(--text-large);
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radios label, input[type=radio], input[type=checkbox], label.link {
  cursor: pointer;
}

.radios label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.radios label:hover {
  background-color: #dfd;
}

.radios input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.radios input[type="radio"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
}

.msg {
  display: block;
  border-bottom: 5px solid var(--bg-dark-theme-border);
  margin-bottom: 1rem;
  color: var(--bg-light-theme);
  font-family: var(--title-font);
  font-weight: 700;
}

.styled-select {
  height: auto;
  overflow: hidden;
  padding: 0;
  background: url(/img/down-arrow.svg) no-repeat bottom right #fff;
  border: 2px solid var(--light-button-bg);
  border-radius: 7px;
  min-width: 6rem;
  margin-bottom: 1.5rem;
}

.styled-select.mobile {
  margin-bottom: 0;
}

.styled-select select {
  background: transparent;
  width: 100%;
  padding: 0.75rem;
  font-size: var(--text-large);
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: auto;
  -webkit-appearance: none;
}

input#mobile {
  margin-right: none;
  margin-left: auto;
}

.aligned-flex {
  display: flex;
  align-items: top;
  justify-content: left;
  margin-bottom: 1.5rem;
}

.flex-item {
  display: grid;
}

.mobile-input-wrapper {
  width: 100%;
  margin-left: 1rem;
}

.flex-item input {
  margin-bottom: 0;
  width: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
}
