@import url("./variables.css");
@import url("./accessible-foundations.css");
@import url("./buttons.css");
@import url("./forms.css");
@import url("./typography.css");
@import url("./sharer.css");

body {
  background: var(--bg-light-theme);
  color: white;
  text-align: center;
}

h1.logo {
  margin: 0 auto;
}
.logo a {
  display: inline-block;
  width: 10rem;
}
 .logo img {
   margin-top: 0.5rem;
   padding: 12px;
 }

 p.hashtag {
   margin: 0.5rem auto 2.5rem auto;
   line-height: 1;
 }

.content {
  width: var(--box-width);
  max-width: 100%;
  margin: 0 auto;
}

.questions {
  padding: 1rem;
  width: 110%;
  margin-left: -5%;
  margin-bottom: 1.5em;
  border: 2px solid var(--light-button-bg);
}

article.letter {
  text-align: left;
  padding: 2rem 3rem;
  background: white;
  color: var(--text-color-dark);
  box-shadow: 1px 1px 8px 0 rgba(165, 11, 0, 0.3)
}

@media (max-width: 600px) {
  article.letter {
    padding: 1rem 1.5rem;
  }
}

.question {
  margin-bottom: 1rem;
}
.question:last-child {
  margin-bottom: 0;
}

.question img {
  width: 4rem;
  margin-right: 0.4rem;
  float: left;
}

fieldset {
  border: none;
  background: none;
}

div.feature {
  background: white;
  padding: 1rem;
}

.privacy {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: var(--text-small);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: var(--bg-feature);
  border: dashed 1px var( --light-button-bg);
}

.privacy svg {
  float: left;
  width: 2rem;
  margin: 0 0.5rem 0 0;
}

