@import url("./variables.css");
@import url("./accessible-foundations.css");
@import url("./buttons.css");
@import url("./forms.css");
@import url("./typography.css");
@import url("./sharer.css");

body {
  background: var(--bg-light-theme);
  color: white;
  text-align: center;
}

h1.logo {
  margin: 0 auto;
}
.logo a {
  display: inline-block;
  width: 10rem;
}
 .logo img {
   margin-top: 0.5rem;
   padding: 12px;
 }

 p.hashtag {
   margin: 0.5rem auto 2.5rem auto;
   line-height: 1;
 }

.content {
  width: var(--box-width);
  max-width: 100%;
  margin: 0 auto;
}

.questions {
  padding: 1rem;
  width: 110%;
  margin-left: -5%;
  margin-bottom: 1.5em;
  border: 2px solid var(--light-button-bg);
}

article.letter {
  text-align: left;
  padding: 2rem 3rem;
  background: white;
  color: var(--text-color-dark);
  box-shadow: 1px 1px 8px 0 rgba(165, 11, 0, 0.3);
}

@media (max-width: 600px) {
  article.letter {
    padding: 1rem 1.5rem;
  }
}

.question {
  margin-bottom: 1rem;
}
.question:last-child {
  margin-bottom: 0;
}

.question img {
  width: 4rem;
  margin-right: 0.4rem;
  float: left;
}

fieldset {
  border: none;
  background: none;
}

div.feature {
  background: white;
  padding: 1rem;
}

.privacy {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: var(--text-small);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: var(--bg-feature);
  border: dashed 1px var( --light-button-bg);
}

.privacy svg {
  float: left;
  width: 2rem;
  margin: 0 0.5rem 0 0;
}

footer a {
  text-decoration: underline;
  color: white;
}

.hidden {
  display: none;
}

.messages {
  border-left: 5px solid var(--bg-light-theme-border);
  padding: 0 0 0.25rem 1rem;
}

.messages p {
  margin-bottom:1rem;
}

.messages ul {
  margin: 0;
}

.messages h1 {
  margin-bottom: 1rem;
}

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}