:root {
  --text-jumbo: 3rem;
  --text-large: 1.2rem;
  --text-medium: 20px;
  --text-small: 0.8rem;
  --line-height: 1.2;
  --box-width: 30rem;
  --outline-focus: #fafa00;

  --body-font: neue-haas-unica;
  --body-font-weight: 400;
  --title-font:  forma-djr-deck;
  --title-font-weight: 700;

  --light-button-bg: #02042f;
  --light-button-bg-active: #323454;
  --button-active-shadow: 1px 1px 3px 0 rgba(2, 4, 47, 0.24);

  --bg-light-theme: rgb(255, 75, 62);
  --bg-light-theme-border: #ff4b3e;
  --text-medium-light-theme: #003131; /* acc */
  --text-large-light-theme: #013c3c;
  --text-medium-light-theme-highlight: #006060;
  --text-large-light-theme-highlight: #006060;


  --bg-dark-theme: rgb(255, 75, 62); /* acc */
  --bg-dark-theme-border: #ff4b3e;
  --text-medium-dark-theme: #ffeaeb; /* acc */
  --text-large-dark-theme: #fff;
  --text-medium-dark-theme-highlight: #edbec2;
  --text-large-dark-theme-highlight: #edbec2;
}
/*
Core breakpoints
*/

@media (max-width: 900px) {
  :root {
    --text-medium: 18px;
  }
}

@media (max-width: 600px) {
  :root {
    --text-jumbo: 2.5rem;
    --text-medium: 16px;
  }
}
